[submodule "src/third_party/djinni"]
	path = src/third_party/djinni
	url = https://github.com/dropbox/djinni.git
[submodule "src/third_party/gyp"]
	path = src/third_party/gyp
	url = https://chromium.googlesource.com/external/gyp.git
